@font-face {
    font-family: Roboto;
    src: url(./roboto/Roboto.ttf);
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background: var(--background);

    .App {
        font-family: 'Roboto';
        border-top: 1px solid var(--activeColor);

        min-height: 100vh;

        .opacityOverlay {
            position: fixed;
            top: 0px;
            left: 0px;

            width: 100vw;
            height: 100vh;

            background: black;
            z-index: -1;
        }

        a {
            text-decoration: none;
        }

        .pageWrapp {
            margin: 30px 45px 20px 0px;
            transition: 0.3s linear;
        }
    }

}

@import url(./reset.scss);
@import url(./menu.scss);
@import url(./chat.scss);
@import url(./imageSlider.scss);
@import url(./settings.scss);
@import url(./backgroundStyler.scss);

@import url(./templates/card.scss);
@import url(./templates/rangeSlider.scss);
@import url(./templates/tooltip.scss);
@import url(./templates/header.scss);
@import url(./templates/button.scss);
@import url(./templates/switchButton.scss);

@import url(./pages/aboutPage.scss);
@import url(./pages/contactsPage.scss);
@import url(./pages/mainPage.scss);
@import url(./pages/skillPage.scss);
@import url(./pages/worksPage.scss);

@import url(./darkTheme.scss);
@import url(./lightTheme.scss);
@import url(./adaptation/adaptation.scss);